<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select and Display File</title>
</head>
<body>

    <h1>Select and Display File</h1>

    <button onclick="load_rule('edr')">EDR</button>
    <button onclick="load_rule('siem')">SIEM</button>

    
    <form method="post">
        <label for="fileSelect">Select a file:</label>
        <select id="fileSelect" name="file_select">
            {% for file_name in file_list %}
                <option value="{{ file_name }}">{{ file_name }}</option>
            {% endfor %}
        </select>

        <button type="submit">Display Selected File</button>
    </form>


    <script>
        function load_rule(platform){
            window.location.href = "/show_rule?platform="+platform
        }
    </script>
</body>
</html>
